In [1]:
import pandas as pd
import numpy as np

df = pd.read_csv("Uncleaned_DS_jobs.csv")

In [2]:
df.head()

,index,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [3]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 672 entries, 0 to 671
Data columns (total 15 columns):
 #   Column             Non-Null Count  Dtype
---  ------             --------------  -----
 0   index              672 non-null    int64
 1   Job Title          672 non-null    object
 2   Salary Estimate    672 non-null    object
 3   Job Description    672 non-null    object
 4   Rating             672 non-null    float64
 5   Company Name       672 non-null    object
 6   Location           672 non-null    object
 7   Headquarters       672 non-null    object
 8   Size               672 non-null    object
 9   Founded            672 non-null    int64
 10  Type of ownership  672 non-null    object
 11  Industry           672 non-null    object
 12  Sector             672 non-null    object
 13  Revenue            672 non-null    object
 14  Competitors        672 non-null    object
dtypes: float64(1), int64(2), object(12)
memory usage: 78.9+ KB

In [4]:
print(df.shape)

(672, 15)

In [5]:
df.describe()

            index      Rating      Founded
count  672.000000  672.000000   672.000000
mean   335.500000    3.518601  1635.529762
std    194.133974    1.410329   756.746640
min      0.000000   -1.000000    -1.000000
25%    167.750000    3.300000  1917.750000
50%    335.500000    3.800000  1995.000000
75%    503.250000    4.300000  2009.000000
max    671.000000    5.000000  2019.000000

In [6]:
df.drop('index', inplace=True, axis=1)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors
0,Sr Data Scientist,$137K-$171K (Glassdoor est.),Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna"
1,Data Scientist,$137K-$171K (Glassdoor est.),"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1
2,Data Scientist,$137K-$171K (Glassdoor est.),Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1
3,Data Scientist,$137K-$171K (Glassdoor est.),JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech..."
4,Data Scientist,$137K-$171K (Glassdoor est.),Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee"

In [7]:
df['Salary Estimate'].head()

0    $137K-$171K (Glassdoor est.)
1    $137K-$171K (Glassdoor est.)
2    $137K-$171K (Glassdoor est.)
3    $137K-$171K (Glassdoor est.)
4    $137K-$171K (Glassdoor est.)
Name: Salary Estimate, dtype: object

In [8]:
df['Salary Estimate'] = df['Salary Estimate'].str.replace(r'[$K]', '', regex=True)
df['Salary Estimate'].unique()

array(['137-171 (Glassdoor est.)', '75-131 (Glassdoor est.)',
       '79-131 (Glassdoor est.)', '99-132 (Glassdoor est.)',
       '90-109 (Glassdoor est.)', '101-165 (Glassdoor est.)',
       '56-97 (Glassdoor est.)', '79-106 (Glassdoor est.)',
       '71-123 (Glassdoor est.)', '90-124 (Glassdoor est.)',
       '91-150 (Glassdoor est.)', '141-225 (Glassdoor est.)',
       '145-225(Employer est.)', '79-147 (Glassdoor est.)',
       '122-146 (Glassdoor est.)', '112-116 (Glassdoor est.)',
       '110-163 (Glassdoor est.)', '124-198 (Glassdoor est.)',
       '79-133 (Glassdoor est.)', '69-116 (Glassdoor est.)',
       '31-56 (Glassdoor est.)', '95-119 (Glassdoor est.)',
       '212-331 (Glassdoor est.)', '66-112 (Glassdoor est.)',
       '128-201 (Glassdoor est.)', '138-158 (Glassdoor est.)',
       '80-132 (Glassdoor est.)', '87-141 (Glassdoor est.)',
       '92-155 (Glassdoor est.)', '105-167 (Glassdoor est.)'],
      dtype=object)

In [9]:
df['Salary Estimate'] = df['Salary Estimate'].str.split('(').str[0]
df['Salary Estimate'].unique()

array(['137-171 ', '75-131 ', '79-131 ', '99-132 ', '90-109 ', '101-165 ',
       '56-97 ', '79-106 ', '71-123 ', '90-124 ', '91-150 ', '141-225 ',
       '145-225', '79-147 ', '122-146 ', '112-116 ', '110-163 ',
       '124-198 ', '79-133 ', '69-116 ', '31-56 ', '95-119 ', '212-331 ',
       '66-112 ', '128-201 ', '138-158 ', '80-132 ', '87-141 ', '92-155 ',
       '105-167 '], dtype=object)

In [10]:
df['min_salary'] = df['Salary Estimate'].str.split('-').str[0]
df['min_salary'] = df['min_salary'].astype(int)

df['max_salary'] = df['Salary Estimate'].str.split('-').str[1]
df['max_salary'] = df['max_salary'].astype(int)

df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171

In [11]:
df['avg_salary'] = (df['min_salary'] + df['max_salary']) // 2
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154

In [12]:
df.sort_values(by='Rating', ascending=True)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
457,Data Scientist,69-116,Work in a fast growing startup with unlimited ...,-1.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69,116,92
425,Data Scientist,124-198,"Job Description\nSelecting features, building ...",-1.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124,198,161
351,Data Scientist,122-146,About Our AI/ML Team\n\nOur mission is to buil...,-1.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122,146,134
504,Data Scientist,95-119,Job Description\nWorking at Sophinea\n\nSophin...,-1.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95,119,107
500,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,-1.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95,119,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,79-106,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79,106,92
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic\n5.0,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110,163,136
113,Data Engineer,99-132,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI\n5.0,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99,132,115
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122,146,134
118,NGS Scientist,99-132,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences\n5.0,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99,132,115

In [13]:
df['Rating'].dtype

dtype('float64')

In [14]:
df['Rating'] = np.where(df['Rating'] == -1.0, 0.0, df['Rating'])
df.sort_values(by='Rating', ascending=True)

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary
457,Data Scientist,69-116,Work in a fast growing startup with unlimited ...,0.0,Stride Search,"San Francisco, CA","Westlake Village, CA",1 to 50 employees,-1,Company - Private,-1,-1,Less than $1 million (USD),-1,69,116,92
425,Data Scientist,124-198,"Job Description\nSelecting features, building ...",0.0,Microagility,"New York, NY","Princeton, NJ",1 to 50 employees,-1,Company - Private,Consulting,Business Services,$1 to $5 million (USD),-1,124,198,161
351,Data Scientist,122-146,About Our AI/ML Team\n\nOur mission is to buil...,0.0,Point72 Ventures,"Palo Alto, CA",-1,-1,-1,-1,-1,-1,-1,-1,122,146,134
504,Data Scientist,95-119,Job Description\nWorking at Sophinea\n\nSophin...,0.0,Sophinea,"Chantilly, VA",-1,1 to 50 employees,-1,Unknown,-1,-1,Unknown / Non-Applicable,-1,95,119,107
500,Data Scientist,95-119,Job Overview: The Data Scientist is a key memb...,0.0,Hatch Data Inc,"San Francisco, CA",-1,-1,-1,-1,-1,-1,-1,-1,95,119,107
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
209,Data Scientist - TS/SCI FSP or CI Required,79-106,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,79,106,92
405,Senior Machine Learning Engineer,110-163,We are looking for an experienced engineer wit...,5.0,LifeOmic\n5.0,"Raleigh, NC","Indianapolis, IN",51 to 200 employees,2016,Company - Private,Enterprise Software & Network Solutions,Information Technology,Unknown / Non-Applicable,-1,110,163,136
113,Data Engineer,99-132,"At Phantom AI, experience the fast paced envir...",5.0,Phantom AI\n5.0,"Burlingame, CA","Burlingame, CA",1 to 50 employees,2016,Company - Private,Computer Hardware & Software,Information Technology,Unknown / Non-Applicable,-1,99,132,115
355,Data Scientist - TS/SCI FSP or CI Required,122-146,US Citizenship Required and (TS/SCI with FSP o...,5.0,Phoenix Operations Group\n5.0,"Annapolis Junction, MD","Woodbine, MD",1 to 50 employees,2011,Company - Private,IT Services,Information Technology,$1 to $5 million (USD),-1,122,146,134
118,NGS Scientist,99-132,ArsenalBio’s mission is to develop efficacious...,5.0,Arsenal Biosciences\n5.0,"South San Francisco, CA","South San Francisco, CA",51 to 200 employees,2019,Company - Private,Biotech & Pharmaceuticals,Biotech & Pharmaceuticals,Unknown / Non-Applicable,-1,99,132,115

In [15]:
df['Founded']

0      1993
1      1968
2      1981
3      2000
4      1998
       ...
667    1989
668      -1
669      -1
670      -1
671    1976
Name: Founded, Length: 672, dtype: int64

In [16]:
df['company_age'] = np.where(df['Founded'] < 1, df['Founded'], 2023 - df['Founded'])
df['company_age'] = np.where(df['company_age'] == -1.0, 0.0, df['company_age'])
df['company_age']

0      30.0
1      55.0
2      42.0
3      23.0
4      25.0
       ...
667    34.0
668     0.0
669     0.0
670     0.0
671    47.0
Name: company_age, Length: 672, dtype: float64

In [17]:
df['Job Description'][0]

"Description\n\nThe Senior Data Scientist is responsible for defining, building, and improving statistical models to improve business processes and outcomes in one or more healthcare domains such as Clinical, Enrollment, Claims, and Finance. As part of the broader analytics team, Data Scientist will gather and analyze data to solve and address complex business problems and evaluate scenarios to make predictions on future outcomes and work with the business to communicate and support decision-making. This position requires strong analytical skills and experience in analytic methods including multivariate regressions, hierarchical linear models, regression trees, clustering methods and other complex statistical techniques.\n\nDuties & Responsibilities:\n\n• Develops advanced statistical models to predict, quantify or forecast various operational and performance metrics in multiple healthcare domains\n• Investigates, recommends, and initiates acquisition of new data resources from internal and external sources\n• Works with multiple teams to support data collection, integration, and retention requirements based on business needs\n• Identifies critical and emerging technologies that will support and extend quantitative analytic capabilities\n• Collaborates with business subject matter experts to select relevant sources of information\n• Develops expertise with multiple machine learning algorithms and data science techniques, such as exploratory data analysis and predictive modeling, graph theory, recommender systems, text analytics and validation\n• Develops expertise with Healthfirst datasets, data repositories, and data movement processes\n• Assists on projects/requests and may lead specific tasks within the project scope\n• Prepares and manipulates data for use in development of statistical models\n• Other duties as assigned\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nMinimum Qualifications:\n\n-Bachelor's Degree\n\nPreferred Qualifications:\n\n- Master’s degree in Computer Science or Statistics\nFamiliarity with major cloud platforms such as AWS and Azure\nHealthcare Industry Experience\n\nWE ARE AN EQUAL OPPORTUNITY EMPLOYER. Applicants and employees are considered for positions and are evaluated without regard to mental or physical disability, race, color, religion, gender, national origin, age, genetic information, military or veteran status, sexual orientation, marital status or any other protected Federal, State/Province or Local status unrelated to the performance of the work involved.\n\nIf you have a disability under the Americans with Disability Act or a similar law, and want a reasonable accommodation to assist with your job search or application for employment, please contact us by sending an email to careers@Healthfirst.org or calling 212-519-1798 . In your email please include a description of the accommodation you are requesting and a description of the position for which you are applying. Only reasonable accommodation requests related to applying for a position within Healthfirst Management Services will be reviewed at the e-mail address and phone number supplied. Thank you for considering a career with Healthfirst Management Services.\nEEO Law Poster and Supplement\n\n]]>"

In [18]:
df['Job Description'][1].split('\n')

['Secure our Nation, Ignite your Future',
 '',
 'Join the top Information Technology and Analytic professionals in the industry to make invaluable contributions to our national security on a daily basis. In this innovative, self-contained, Big Data environment, the ManTech team is responsible for everything from infrastructure, to application development, to data science, to advanced analytics and beyond. The team is diverse, the questions are thought-provoking, and the opportunities for growth and advancement are numerous',
 '',
 'The successful candidate will possess a diverse range of data-focused skills and experience, both technical and analytical. They will have a strong desire and capability for problem solving, data analysis and troubleshooting, analytical thinking, and experimentation.',
 '',
 'Duties, Tasks & Responsibilities',
 'Working with large, complex, and disparate data sets',
 'Designing and implementing innovative ways to analyze and exploit the Sponsors data holdings',
 'Researching and reporting on a wide variety of Sponsor inquiries',
 'Raising proactive inquiries to the Sponsor based on observations and proposed data analysis/exploitation',
 'Solving difficult, non-routine problems by applying advanced analytical methodologies, and improving analytic methodologies',
 'Developing custom searches',
 'Communicating and coordinating with internal and external partners as needed',
 'Required Experience, Skills, & Technologies',
 '',
 'Thorough knowledge of appropriate analytic tools and methodologies in one or more of the following:',
 'Applied mathematics (e.g. probability and statistics, formal modeling, computational social sciences)',
 'Computer programming (e.g. programming languages, math/statistics packages, computer science, machine learning, scientific computing)',
 'Ability to code or script in one or more general programming language',
 'Experience with and theoretical understanding of algorithms for classification, regression, clustering, and anomaly detection',
 'Knowledge of relational databases, including SQL and large-scale distributed systems (e.g. Hadoop)',
 'Expertise with statistical data analysis (e.g. linear models, multivariate analysis, stochastic models, sampling methods)',
 'Demonstrated effectiveness in collecting information and accurately representing/visualizing it to non-technical third parties',
 'TS/SCI with Polygraph',
 'Bachelor of Science or equivalent and 12-15 years related experience, but will consider all levels of experience.',
 'Desired Experience, Skills & Technologies',
 'Previous investigative experience using a combination of technical and analytic skills',
 '#LI-DU1',
 '',
 'ManTech International Corporation, as well as its subsidiaries proactively fulfills its role as an equal opportunity employer. We do not discriminate against any employee or applicant for employment because of race, color, sex, religion, age, sexual orientation, gender identity and expression, national origin, marital status, physical or mental disability, status as a Disabled Veteran, Recently Separated Veteran, Active Duty Wartime or Campaign Badge Veteran, Armed Forces Services Medal, or any other characteristic protected by law.',
 '',
 "If you require a reasonable accommodation to apply for a position with ManTech through its online applicant system, please contact ManTech's Corporate EEO Department at (703) 218-6000. ManTech is an affirmative action/equal opportunity employer - minorities, females, disabled and protected veterans are urged to apply. ManTech's utilization of any external recruitment or job placement agency is predicated upon its full compliance with our equal opportunity/affirmative action policies. ManTech does not accept resumes from unsolicited recruiting firms. We pay no fees for unsolicited services.",
 '',
 'If you are a qualified individual with a disability or a disabled veteran, you have the right to request an accommodation if you are unable or limited in your ability to use or access http://www.mantech.com/careers/Pages/careers.aspx as a result of your disability. To request an accommodation please click careers@mantech.com and provide your name and contact information.']

In [19]:
df['python'] = df['Job Description'].str.contains('python', case=False).astype(int)
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,Industry,Sector,Revenue,Competitors,min_salary,max_salary,avg_salary,company_age,python
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,Insurance Carriers,Insurance,Unknown / Non-Applicable,"EmblemHealth, UnitedHealth Group, Aetna",137,171,154,30.0,0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,Research & Development,Business Services,$1 to $2 billion (USD),-1,137,171,154,55.0,0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,Consulting,Business Services,$100 to $500 million (USD),-1,137,171,154,42.0,1
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,Electrical & Electronic Manufacturing,Manufacturing,$100 to $500 million (USD),"MKS Instruments, Pfeiffer Vacuum, Agilent Tech...",137,171,154,23.0,1
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,Advertising & Marketing,Business Services,Unknown / Non-Applicable,"Commerce Signals, Cardlytics, Yodlee",137,171,154,25.0,1

In [20]:
df['sql'] = df['Job Description'].str.contains('sql', case=False).astype(int)
df['aws'] = df['Job Description'].str.contains('aws', case=False).astype(int)
df['excel'] = df['Job Description'].str.contains('excel', case=False).astype(int)
df['spark'] = df['Job Description'].str.contains('spark', case=False).astype(int)
df['tableau'] = df['Job Description'].str.contains('tableau', case=False).astype(int)
df['big_data'] = df['Job Description'].str.contains('big_data', case=False).astype(int)
df['machine learning'] = df['Job Description'].str.contains('machine learning', case=False).astype(int)
df['powerbi'] = df['Job Description'].str.contains('powerbi', case=False).astype(int)

df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Founded,Type of ownership,...,company_age,python,sql,aws,excel,spark,tableau,big_data,machine learning,powerbi
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,1993,Nonprofit Organization,...,30.0,0,0,1,0,0,0,0,1,0
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,1968,Company - Public,...,55.0,0,1,0,0,0,0,0,1,0
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,1981,Private Practice / Firm,...,42.0,1,0,1,1,0,0,0,1,0
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,2000,Company - Public,...,23.0,1,1,1,1,0,0,0,1,0
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,1998,Company - Private,...,25.0,1,1,0,1,0,0,0,1,0

In [21]:
df['Job Title'].value_counts()
df['Job Title'].unique()

array(['Sr Data Scientist', 'Data Scientist',
       'Data Scientist / Machine Learning Expert',
       'Staff Data Scientist - Analytics',
       'Data Scientist - Statistics, Early Career', 'Data Modeler',
       'Experienced Data Scientist', 'Data Scientist - Contract',
       'Data Analyst II', 'Medical Lab Scientist',
       'Data Scientist/Machine Learning', 'Human Factors Scientist',
       'Business Intelligence Analyst I- Data Insights',
       'Data Scientist - Risk', 'Data Scientist-Human Resources',
       'Senior Research Statistician- Data Scientist', 'Data Engineer',
       'Associate Data Scientist', 'Business Intelligence Analyst',
       'Senior Analyst/Data Scientist', 'Data Analyst',
       'Machine Learning Engineer', 'Data Analyst I',
       'Scientist - Molecular Biology',
       'Computational Scientist, Machine Learning',
       'Senior Data Scientist', 'Jr. Data Engineer',
       'E-Commerce Data Analyst', 'Data Analytics Engineer',
       'Product Data Scientist - Ads Data Science',
       'Data Scientist - Intermediate', 'Global Data Analyst',
       'Data & Machine Learning Scientist',
       'Data Scientist - Machine Learning', 'Data Engineer (Remote)',
       'Data Scientist, Applied Machine Learning - Bay Area',
       'Principal Data Scientist', 'Business Data Analyst',
       'Purification Scientist', 'Data Engineer, Enterprise Analytics',
       'Data Scientist 3 (718)', 'Real World Science, Data Scientist',
       'Data Scientist - Image and Video Analytics',
       'Data Science Manager, Payment Acceptance - USA',
       'Data Scientist / Applied Mathematician',
       'Patient Safety- Associate Data Scientist',
       '(Sr.) Data Scientist -', 'Data Scientist, Kinship - NYC/Portland',
       'Applied Technology Researcher / Data Scientist',
       'Health Data Scientist - Biomedical/Biostats',
       'Staff Data Scientist', 'Sr Data Engineer (Sr BI Developer)',
       'Lead Data Scientist', 'RFP Data Analyst',
       'Data Scientist (TS/SCI)', 'Software Engineer - Data Science',
       'Data Analyst/Engineer', 'NGS Scientist', 'Senior Data Engineer',
       'Sr. ML/Data Scientist - AI/NLP/Chatbot',
       'Data Integration and Modeling Engineer',
       'Tableau Data Engineer 20-0117', 'AI Data Scientist',
       'Research Scientist Patient Preferences (Remote)',
       'Scientist - Biomarker and Flow Cytometry', 'Analytics Manager',
       'Staff Scientist- Upstream PD',
       'Sr Scientist - Extractables & Leachables',
       'ELISA RESEARCH SCIENTIST (CV-15)', 'Say Business Data Analyst',
       'Geospatial Data Scientist', 'Computational Scientist',
       'Senior Data Analyst', 'Sr Data Analyst',
       'Machine Learning Scientist - Bay Area, CA',
       'Senior Data Scientist - Algorithms',
       'Senior Data & Machine Learning Scientist',
       'Research Scientist - Patient-Centered Research (Remote)',
       'Jr. Business Data Analyst (position added 6/12/2020)',
       'Sr. Data Scientist II',
       'Production Engineer - Statistics/Data Analysis',
       'Statistical Scientist', 'Computational Behavioral Scientist',
       'Principal Data Scientist - Machine Learning',
       'Principal Machine Learning Scientist',
       'Senior Data Scientist - R&D Oncology',
       'Health Plan Data Analyst, Sr',
       'Principal Scientist/Associate Director, Quality Control and Analytical Technologies',
       'Analytics - Business Assurance Data Analyst',
       'Senior Data Scientist – Image Analytics, Novartis AI Innovation Lab',
       'Data Science Instructor', 'Senior Business Intelligence Analyst',
       'In-Line Inspection Data Analyst',
       'Data Scientist - TS/SCI FSP or CI Required',
       'Data Scientist - TS/SCI Required',
       'Data Science Software Engineer',
       'ENGINEER - COMPUTER SCIENTIST - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING - SAN ANTONIO OR',
       'AI Ops Data Scientist', 'Intelligence Data Analyst, Senior',
       'Analytics Manager - Data Mart',
       'Data Modeler (Analytical Systems)',
       'Senior Machine Learning Scientist - Bay Area, CA',
       'Report Writer-Data Analyst', 'Staff Data Scientist - Pricing',
       'Equity Data Insights Analyst - Quantitative Analyst',
       'Operations Data Analyst', 'Software Data Engineer',
       'Real World Evidence (RWE) Scientist', 'Computer Scientist 1',
       'Environmental Data Science', 'Staff BI and Data Engineer',
       'Data Scientist - Statistics, Mid-Career',
       'Director of Data Science',
       'Data Engineer, Digital & Comp Pathology',
       'Manager / Lead, Data Science & Analytics',
       'Diversity and Inclusion Data Analyst',
       'Data Scientist Machine Learning', 'Chief Scientist',
       'Development Scientist, Voltaren',
       'Principal Data & Analytics Platform Engineer',
       'Machine Learning Engineer/Scientist',
       'Data Analyst - Unilever Prestige', 'VP, Data Science',
       'Data Engineer - Kafka', 'Decision Scientist',
       'Data Science All Star Program - Data Engineer Track',
       'Scientist - Machine Learning', 'Sr. Data Scientist',
       'Applied AI Scientist / Engineer',
       'Data Engineer (Analytics, SQL, Python, AWS)',
       'Senior Data Analyst - Finance & Platform Analytics',
       'Market Research Data Scientist',
       'IT Partner Digital Health Technology and Data Science',
       'Software Engineer (Data Scientist, C,C++,Linux,Unix) - SISW - MG',
       'Senior Clinical Data Scientist Programmer',
       'Computer Vision / Deep Learning Scientist',
       'Data Solutions Engineer - Data Modeler',
       'Data Scientist (TS/SCI w/ Poly)',
       'Weapons and Sensors Engineer/Scientist',
       'Applied Computer Scientist', 'Cloud Data Engineer (Azure)',
       'Lead Certified Clinical Laboratory Scientist - Saturday - Tuesday, 8:00pm - 6:30am shift',
       'Sr. Data Analyst',
       'Senior Scientist - Toxicologist - Product Integrity (Stewardship)',
       'Senior Machine Learning Engineer',
       'Data Scientist- Industrial Discrete Sector Industry',
       'Senior Principal Data Scientist (Python/R)',
       'Data Scientist(s)/Machine Learning Engineer',
       'Scientist / Group Lead, Cancer Biology',
       'Manager, Field Application Scientist, Southeast',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - SIGNAL PROCESSING',
       'Machine Learning Scientist / Engineer', 'Data Science Analyst',
       'COMPUTER SCIENTIST - ENGINEER - RESEARCH COMPUTER SCIENTIST - TRANSPORTATION TECHNOLOGY',
       'Software Engineer - Machine Learning & Data Science (Applied Intelligence Services Team)',
       'Clinical Data Analyst', 'Data Scientist Technical Specialist',
       'Data Science Manager', 'Big Data Engineer', 'Data Architect',
       'Aviation AI/ML Data Scientist', 'Machine Learning Engineer, Sr.',
       'Information Systems Engineering Specialist (Engineering Scientist)',
       'Scientist/Research Associate-Metabolic Engineering',
       'Vice President, Biometrics and Clinical Data Management',
       'Enterprise Data Analyst (Enterprise Portfolio Management Office)',
       'Lead Data Scientist – Network Analysis and Control',
       'Sr. Research Associate/ Scientist, NGS prep & Molecular Genomics',
       'Developer III - Data Science',
       'Hydrogen/Tritium Materials Scientist (Experienced)',
       'Data Scientist/Data Analytics Practitioner',
       'AI/ML - Machine Learning Scientist, Siri Understanding'],
      dtype=object)

In [22]:
def title_simplifier(title):
    if 'data scientist' in title.lower():
        return 'data scientist'
    elif 'data engineer' in title.lower():
        return 'data engineer'
    elif 'analyst' in title.lower():
        return 'analyst'
    elif 'machine learning' in title.lower():
        return 'machine learning'
    elif 'manager' in title.lower():
        return 'manager'
    elif 'director' in title.lower():
        return 'director'
    else:
        return 'na'
    
def seniority(title):
    if 'sr' in title.lower() or 'senior' in title.lower() or 'lead' in title.lower() or 'principal' in title.lower() or 'sr.' in title.lower():
        return 'senior'
    elif 'jr' in title.lower() or 'jr.' in title.lower() or 'junior' in title.lower():
        return 'junior'
    else:
        return 'na'

In [23]:
df['job_simp'] = df['Job Title'].apply(title_simplifier)
df['job_simp'].value_counts()

data scientist      455
na                   69
analyst              55
data engineer        47
machine learning     36
manager               7
director              3
Name: job_simp, dtype: int64

In [24]:
df['seniority'] = df['Job Title'].apply(seniority)
df['seniority'].value_counts()

na        576
senior     94
junior      2
Name: seniority, dtype: int64

In [25]:
df.drop(['Founded','Competitors'], axis=1,inplace=True)

In [26]:
df = df.apply(lambda x: x.strip() if isinstance(x,str) else x)

In [27]:
df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,sql,aws,excel,spark,tableau,big_data,machine learning,powerbi,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst\n3.1,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,0,1,0,0,0,0,1,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech\n4.2,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,1,0,0,0,0,0,1,0,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group\n3.8,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,0,1,1,0,0,0,1,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON\n3.5,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,1,1,1,0,0,0,1,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions\n2.9,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,1,0,1,0,0,0,1,0,data scientist,na

In [28]:
df['Company Name'] = df['Company Name'].str.split('\n').str[0]
df['Company Name'] = df['Company Name'].str.replace(r'\n.*', '', regex=True)

df.head()

,Job Title,Salary Estimate,Job Description,Rating,Company Name,Location,Headquarters,Size,Type of ownership,Industry,...,sql,aws,excel,spark,tableau,big_data,machine learning,powerbi,job_simp,seniority
0,Sr Data Scientist,137-171,Description\n\nThe Senior Data Scientist is re...,3.1,Healthfirst,"New York, NY","New York, NY",1001 to 5000 employees,Nonprofit Organization,Insurance Carriers,...,0,1,0,0,0,0,1,0,data scientist,senior
1,Data Scientist,137-171,"Secure our Nation, Ignite your Future\n\nJoin ...",4.2,ManTech,"Chantilly, VA","Herndon, VA",5001 to 10000 employees,Company - Public,Research & Development,...,1,0,0,0,0,0,1,0,data scientist,na
2,Data Scientist,137-171,Overview\n\n\nAnalysis Group is one of the lar...,3.8,Analysis Group,"Boston, MA","Boston, MA",1001 to 5000 employees,Private Practice / Firm,Consulting,...,0,1,1,0,0,0,1,0,data scientist,na
3,Data Scientist,137-171,JOB DESCRIPTION:\n\nDo you have a passion for ...,3.5,INFICON,"Newton, MA","Bad Ragaz, Switzerland",501 to 1000 employees,Company - Public,Electrical & Electronic Manufacturing,...,1,1,1,0,0,0,1,0,data scientist,na
4,Data Scientist,137-171,Data Scientist\nAffinity Solutions / Marketing...,2.9,Affinity Solutions,"New York, NY","New York, NY",51 to 200 employees,Company - Private,Advertising & Marketing,...,1,0,1,0,0,0,1,0,data scientist,na

In [29]:
df.to_csv('Cleaned_DS_Jobs.csv', index=False)